body {
    margin: 0px 0px;
    font-family: sans-serif;
    justify-content: center;
    align-items: center;
    height: 100vh;
    display: flex;
    background-color: #ffefc9;
    background-blend-mode: multiply;
    font-size: 14px;
}
.input-gr{
    position: relative;
    margin-bottom: 2rem;
    display: block;
}
.input-gr svg{
    position: absolute;
    bottom: 0;
    margin-bottom:  5px;
}

#alerts{
    text-align: center;
    font-size: 14px;
    padding: 5px 5px;
    color: red;
    user-select: none;
}

form {
    background-color: #fff;
    padding: 20px 20px;
    z-index: 1;
    -webkit-box-shadow: 0px 0px 12px 4px rgba(0,0,0,0.19);
    -moz-box-shadow: 0px 0px 12px 4px rgba(0,0,0,0.19);
    box-shadow: 0px 0px 12px 4px rgba(0,0,0,0.19);
    border-radius: 3px;
    box-sizing: initial;
    max-width: 500px;
    min-width: 300px;
    max-height: 600px;
    min-height: 300px;
}

form img {
    position: absolute;
    left: 50%;
    width: 65px;
    height: 65px;
    transform: translate(-50%, -90%);
    background-color: #efa349;
    padding: 0.2rem;
    border-radius: 50%;
    -webkit-box-shadow: 0px -4px 12px -2px rgba(0,0,0,0.6);
    -moz-box-shadow: 0px -4px 12px -2px rgba(0,0,0,0.6);
    box-shadow: 0px -4px 12px -2px rgba(0,0,0,0.6);
}

form p{
    font-size: 13px;
    text-align: right;
    user-select: none;
}

form p a{
    text-decoration: none;
    color: #efa349;
}

form h2 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    user-select: none;
    color: #313131;
    font-size: 28px;
    font-weight: 540;
}

form button{
    background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
    width: 100%;
    height: 35px;
    border: none;
    color: #fff;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
}
form button:hover{
    background-image: linear-gradient(to right, #fee140, #fa709a 0% 100%);    
}

form input{
    display: block;
    width: 98%;
    border:none;
    border-bottom: solid #efa349 2px;
    outline: none;
    padding-top: 15px;
    padding-bottom: 3px;
    padding-left: 20px;
}

form label {
    color: #313131;
    position: absolute;
    margin-left: 20px;
    left:0;
    top: 15px;
}

input:focus + label, input:valid + label{
    top:-8px;
    color: #efa349;
    font-weight: 530;
    font-size: 13px;
    margin-left: 0px;
}

.tilte{
    position: absolute;
    z-index: 2;
    margin-top: -270px;
    font-size: 28px;
    text-align: center;
    color: whitesmoke;
    text-shadow: 0px 0px 2px #CE5937;
    font-weight: 500;
    z-index: 2;
}

.copyright{
    position: absolute;
    z-index: 3;
    margin-top: 300px;
    color: #313131;
}

.bg-svg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    direction: ltr;
    background-color: #f4bf40;
    overflow: hidden;
}
 .tilte{
        color:#fff;
    }
.bg-svg svg {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
}

@media only screen and (max-height: 650px) {
    .bg-svg svg {
        height: 100%;
    }
    .tilte{
        color:#313131;
    }
}

@media only screen and (max-width: 992px) {
    .bg-svg {
        display: none;
    }
     .tilte{
        color:#313131;
    }
}